@import "tailwindcss";

@theme {
  --color-primary: #C69C6D;
  /* Authentic Antam Gold */
  --color-primary-light: #E5C585;
  --color-primary-dark: #A67C45;
  --color-secondary: #041E42;
  /* Deep Corporate Navy */
  --color-secondary-dark: #020F24;
  --color-background: #F8F9FA;
  --color-foreground: #333333;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --background: #F8F9FA;
  --foreground: #333333;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-serif {
  font-family: var(--font-serif), Georgia, serif;
}